html, body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0px;
}

h1 {
    text-decoration-style: none;
    margin: 4px;
    font-size: 7vw;
    color: rgba(255, 255, 255, 0.959);
    font-family: "Oswald", sans-serif;
}
h2{
    text-decoration-style: none;
    font-size: 4.5vw;
    letter-spacing: .1rem;
    line-height: 110%;
    margin: 0px;
    color: rgba(255, 255, 255, 0.959);
    font-family: "Oswald", sans-serif;
    
}
h3{
    text-decoration-style: none;
    font-size: 2.5vw;
    color: rgb(228, 7, 50);
    font-family: "Oswald", sans-serif;
}
h4 {
    text-decoration: none;
    margin: 0px;
    font-size: 2.5vw;
    letter-spacing: .1rem;
    color: rgba(255, 255, 255, 0.959);
    font-family: "Oswald", sans-serif;
}
h5 {
    text-decoration-style: none;
    font-size: 1.2vw;
    letter-spacing: .1rem;
    color: rgb(228, 7, 50);
    font-family: "Oswald", sans-serif;
}
.third-screen h2,
.fourth-screen .deals-section h2,
.fifth-screen h2,
.sixth-screen h2,
.eighth-screen h2 {
    color: black;
}
.fifth-screen h2,
.sixth-screen h2,
.eighth-screen h2{
    font-size: 4.65vw;
}
.fourth-screen h4{
    color: rgb(254, 204, 0);
    text-align: end;
    padding: 0px;
    line-height: 110%;
}
.fifth-screen h3{
    font-size: 3vw;
    margin: 5%;
}
.seventh-screen h3{
    color: white;
    margin: 0px;
}
.eighth-screen h3{
    color: black;
    margin: 0%;
}
.fourth-screen h5{
    color: rgb(254, 204, 0);
    padding: 0px;
    margin: 0px;
}
.fourth-screen .deals-banner3 h5 {
    color: rgb(255, 255, 255);
    padding: 0px;
    margin: 0px;
}
.fifth-screen h5{
    letter-spacing: .18rem;
    font-size: 1.1vw;
}

.fourth-screen span {
    font-size: 7vw;
}
.fourth-screen .deals-banner2 h2{
    text-align: end;
}
.center-block p
{
    margin: 8px 20vw;
    color: rgba(255, 255, 255, 0.8);
    line-height: 2em;
    font-family: "Nunito", sans-serif;
    font-weight: 700;
}
.second-screen p,
.fourth-screen p,
.seventh-screen p{
    color: rgba(255, 255, 255, 0.8);
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1.25vw;
    line-height: 2em;
}
.fourth-screen p
.seventh-screen p{
    line-height: normal;
    margin: 0px;
    padding: 0px;
}
.links a {
    margin-right: 28px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.815);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
}
.overlay-content .links a{
    margin: 0;
    margin-top: 10%;
}
.socials img{
    margin-right: 6px;
    filter: brightness(95%);
    width: 22px;
    height: 24px;
}
.overlay-content .socials img{
    margin:0;
    margin-bottom: 10%;
}
.attractions img,
.third-screen img {
    border-radius: 120px;
    width: 18vw;
    height: auto;
}

.attractions p,
.third-screen p,
.fifth-screen p,
.sixth-screen p,
.eighth-screen p,
.footer p {
    color: slategrey;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 1.3vw;
}

.third-screen p{
    margin: 18px 25%;
    text-align: center;
}
.fifth-screen p,
.sixth-screen p,
.eighth-screen p,
.footer p{
    margin: 18px 25%;
    text-align: center;
    color: rgb(99, 99, 99);
    line-height: 2rem;
    font-size: 1.3vw;
}
.fifth-screen .places-section p{
    margin: 0px;
    line-height: 160%;
    color: rgb(50, 50, 50);
    font-weight: 700;
    font-size: 1.25vw; 
}
.sixth-screen p,
.eighth-screen p,
.footer p{
    text-align: left;
    margin: 0px;
}
.eighth-screen p{
    margin: 2% 35% 0% 0%
}

.attractions div{
    width: 30%;
    text-align: center;
}
.second-screen a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.959);
    font-family: "Nunito Sans", sans-serif;
    font-weight: 900;
    font-size: 13px;
    letter-spacing: .2rem;
}

.third-screen button,
.fourth-screen button,
.sixth-screen button,
.seventh-screen button,
.eighth-screen button,
.takeaway-button {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.514);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(231, 231, 231);
    cursor: pointer;
    /* display: inline-block; */
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 14px;
    line-height: 3vh;
    padding: 0px 24px;
}

.third-screen button,
.fourth-screen button,
.sixth-screen button,
.eighth-screen button {
    letter-spacing: .1rem;
    padding: 0px 1.7vw;
    line-height: 4vw;
    border: 1px solid rgba(228, 7, 50,0.8);
    color: rgb(228, 7, 50);
}

.sixth-screen button {
    margin-top: 5%;
}

.feature-two .icon svg,
.feature-three .icon svg,
.feature-four .icon svg {
    fill: #ffff;
    width: 50%;
    height: 50%;
    z-index: 1;
}

.feature-two .icon,
.feature-three .icon,
.feature-four .icon,
.reviews .icon {
    width: 8rem;
    height: 8rem;
    box-sizing: border-box;
    border-radius: 120px;
    background-color: rgb(228, 3, 47);
    display: flex;
    justify-content: center;
    align-items: center;
}
.reviews .icon{
    background-color: #ffff;
    width: 28%;
    height: 130%;
}
/* .second-screen img {
    margin-top: 0px;
    filter: brightness(30%);
    object-fit: none;
    width: 100%;
    height: 90vh;
} */
.first-screen-bg {
    width: 100%;
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
}

.first-container {
    position: absolute;
    top: 2%;
    left: 0;
    width: 100%;
    height: 62%;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}


.mob-header {
    width: 100%;
    padding: 5% 5% 5% 3%;
    display: flex;
    justify-content: space-between;
}
.desk-header {
    display: none;
}
.mob-header span{
    margin-right: 8%;
    color: white;
    font-size: 24px;
    cursor: pointer;
}
.overlay-header{
    position: fixed;
    top: 0;
    right: 0;
    width: 0px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(7px);
    z-index: 1;
    transition: 0.5s;
}
/* .overlay-header .close-btn{
    width:100%;
    height: fit-content;
    margin: 5% 3% 0% 3%;
} */
.overlay-header #closebtn{
    width: fit-content;
    height: fit-content;
    margin-left: 87%;
    margin-top: 6%;
    font-size: 44px;
    color:#ffff;
}
.overlay-header .overlay-content{
    margin-top: 20%;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
}
.overlay-header .socials{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}
.overlay-header .links {
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.hero-img {
    width: 100vw;
    height: 115vh;
    object-fit: cover;
    filter: brightness(45%);
    border-bottom-left-radius: 900px 250px;
    border-bottom-right-radius: 900px 250px;
}

.pizza-img {
    width: 40%;
    height: auto;
    position: absolute;
    bottom: -12%;
    z-index: 1;
}
@media screen and (min-width:768px) {
    .mob-header{
        display: none;
    }
    .desk-header {
        width: 100%;
        justify-items: center;
        background-color: rgba(0, 0, 0, 0);
        display: grid;
        row-gap: 20px;
        grid-template-columns: 10% 72% 18%;
    }
    .hero-img {
        width: 100vw;
        height: 145vh;
        object-fit: none;
        filter: brightness(45%);
        border-bottom-left-radius: 900px 250px;
        border-bottom-right-radius: 900px 250px;
    }
    .overlay-header{
        display: none;
    }
    .pizza-img {
        width: 30%;
        height: auto;
        bottom: -22%;
    }
    .attractions {
        padding-top: 14%;
    }
}

.socials {
    grid-column-start: 1;
    align-self: flex-start;

}

.links {
    grid-column-start: 2;
    text-decoration: none;
}
.order-button-tab {
    grid-column-start: 3;
}
.order-button {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid rgba(255, 255, 255, 0.514);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.9);
    cursor: pointer;
    /* display: inline-block; */
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 14px;
    letter-spacing: .2rem;
    line-height: 34px;
    padding: 2px 18px;
}

.overlay-header .order-button{
    margin-top: 20%;
}

.center-block {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 4%;
}

.book-button {
    margin-right: 20px;
    background-color: rgb(228, 3, 47);
    border: 2px solid rgb(228, 3, 47);
    border-radius: 4px;
    box-sizing: border-box;
    color: rgb(231, 231, 231);
    cursor: pointer;
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size:14px;
    line-height: 38px;
    padding: 0px 24px;
}

.attractions{
    width: 100%;
    position: relative;
    margin-top: 2%;
    padding-top: 18% ;
    padding-left: 1%;
    padding-bottom: 2%;
    background-color: rgb(247, 243, 236);
    display: flex;
    justify-content: space-around;
}

.second-screen {
    background: linear-gradient(rgba(18, 18, 18, 0.8), rgba(18, 18, 18, 0.8)),
        url('../The%20Pizzeria%20Website/pizzeria-template-delivery-section-img-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    padding-top: 8rem;
    
}
.second-screen .feature-one {
    width: 20%;
    height: 80%;
}

.second-screen .feature-two,
.second-screen .feature-three,
.second-screen .feature-four {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.third-screen {
    background-color: rgb(247, 246, 242);
    padding: 4% 2%;
    box-sizing: border-box;
    border-bottom-left-radius: 500px 150px;
    border-bottom-right-radius: 500px 150px;
}

.third-screen .menu-section,
.fifth-screen .locate-section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-screen .visual-menu {
    margin-top: 1%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.fourth-screen {
    background-color: rgb(247, 246, 242);
    margin-top: 0.5%;
    padding: 1%;
}

.fourth-screen .deals-section {
    display: flex;
    justify-content: space-between;
    margin: 5% 3%;
}
.fourth-screen .deals-section div{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1px;
}


/* .deals-banner1{ grid-area: banner1;}
.deals-banner2{ grid-area: banner2;}
.deals-banner3{ grid-area: banner3;} */

.fourth-screen .deals-grid{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 51% 55%;
    gap: 6% 4%;
    margin: 0px 3%;
    
}

.fourth-screen .deals-banner1
{
    display: flex;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.fourth-screen #banner-img1{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}
.fourth-screen #offer1 {
    position: absolute;
    right:0;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
/* .fourth-screen #offer1{
    position: absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
} */

/* .fourth-screen #banner-img1 {
    object-fit: none;
    object-position: 0% 0%;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
} */
.fourth-screen .offer-text1 {
    height: 100%;
    position: absolute;
    right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12px 0px;
    box-sizing: border-box;
}
.fourth-screen #offer-tag1 {
    height: 32%;
    width: auto;
    position: absolute;
    left: 4%;
    top: 15%;
    z-index: 2;
}

.fourth-screen .deals-banner2{
    display: flex;
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;

}
.fourth-screen #banner-img2{
    max-width: 100%;
    max-height: 100%;
    border-radius: 14px;
}
.fourth-screen #offer2 {
    position: absolute;
    right: 0;
    height: 84%;
    width: 56%;
    border-top-right-radius: 14px;
}
/*  .fourth-screen #banner-img2 {
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: 14px;
} */
.fourth-screen .offer-text2{
    width: 35%;
    position: absolute;
    right: 6%;
    top: 6%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fourth-screen .deals-banner3 {
    display: flex;
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.fourth-screen #banner-img3{
    max-width: 100%;
    max-height: 100%;
    border-radius: 14px;
}
.fourth-screen #offer3{
    position: absolute;
    right: 0;
    height: 100%;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
.fourth-screen .offer-text3 {
    height: 100%;
    position: absolute;
    right: 5%;
    width: 25%;
    text-align: end;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 12% 0px 12% 0px;
    box-sizing: border-box;
}
.fourth-screen .deals-banner3 #offer-tag2{
    width: 21%;
    position: absolute;
    top: 7%;
    right:34%;
    
}

.fifth-screen{
    background-color: rgb(247, 246, 242);
    padding: 15% 3%;
    box-sizing: border-box;
}
.fifth-screen .places-section {
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}
.fifth-screen .places-section div{
    width: 18%;
    text-align: center;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sixth-screen {
    background-color: rgb(247, 246, 242);
    padding: 0% 3%;
    box-sizing: border-box;
    padding-bottom: 8%;
}
.sixth-screen .grid-container{
    display: grid;
    grid-template-columns: 50% 40%;
    /* margin: 0px 5% 0% 3%; */
}
.sixth-screen .contact-info{
    padding-top:15%;
}

.seventh-screen{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.seventh-screen .socials-link{
    width: 45%;
    height: 50%;
    position: absolute;
    left: 50%;
    top:0;
    display: flex;
    justify-content: center;
    background-color: rgb(228, 7, 50);
}
/* .seventh-screen #photo-collage{
    object-fit: cover;
} */
.seventh-screen .socials-link div{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.seventh-screen button{
    width: fit-content;
    font-size: 1.15vw;
    line-height: 3vw;
    padding: 0px 24px;
    display: flex;
    align-items: center;
}
.seventh-screen svg{
    height: 25%;
    width: auto;
    margin: 8% 6%;
    fill: #ffff;
}
.seventh-screen button svg {
    height: 35%;
    width: auto;
    margin: 0px;
    margin-right: 12px;
    fill:#ffff;
}
.reviews{
    height: 40%;
    background-color: rgb(228, 7, 50);
    display: flex;
    justify-content: space-between;
    padding: 6% 8% 6% 3%;
}
.reviews .review-appstore,
.reviews .review-playstore,
.reviews .review-pizzeria{
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reviews .ratings {
    display: flex;
    flex-direction: column;
}
.reviews span{
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.959);
}
.reviews .icon svg,
.reviews .icon img{
    height: 80%;
    width: 80%;
    fill: #e40732;
}
.reviews .review-playstore .icon svg{
    height: 60%;
    width:60%;
}

.review .ratings svg{
    fill: #ffff;
}

.eighth-screen{
    background-color: rgb(247, 246, 242);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1% 5% 0% 3%;
    height: 40vw;
}
.eighth-screen img{
    align-self: flex-end;
    width:35%;
    height: auto;
}
.eighth-screen .download-info{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.eighth-screen .buttons{
    display: flex;
    justify-content: flex-start;
}
.eighth-screen .buttons  button {
    margin-right: 5%;
    display: flex;
    align-items: center;
}
.eighth-screen button svg{
    height: 40%;
    margin: 0px;
}

.footer {
    height: 70%;
    width: 100%;
    padding: 10% 8% 5% 3%;
}
.footer .footer-container{
    padding: 0% 15% 0% 0%;
    display: flex;
    justify-content: space-between;
}
.footer .copyright-container{
    margin-top: 7%;
    padding-right: 6%;
    display: flex;
    justify-content: space-between;
}
.footer .pizzeria-info{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer .socials{
    height: 10%;
    width: 40%;
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer .socials img{
    height: 100%;
    width: auto;
}
.footer .socials svg{
    height: 85%;
    width: auto;
    fill: black;
}
.footer p{
    margin-top: 15%;
}
.footer ul{
    list-style: none;
    padding: 0%;
    margin-top: 20%;
}
.footer li{
    
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 1.25vw;
    line-height: 180%;
    color: rgb(99, 99, 99);
}
.footer span{
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-size: 1.15vw;
    color: rgb(99, 99, 99);
}
.footer .copyright{
    align-self: flex-end;
    justify-self: flex-start;
}

.footer .powered-by{
    align-self: flex-end;
    justify-self: flex-end;
}
.footer em{
    text-decoration: none;
    font-style: normal;
    margin: 0px;
    font-size: 1.8vw;
    color: black;
    font-family: "Oswald", sans-serif;
}

/* .fourth-screen .offer-text3{
    position: absolute;
    r
} */

/* .fourth-screen #banner-img3 {
    object-fit: cover;
    object-position: 0% 0%;
    border-radius: 14px;
} */
/* .fourth-screen #offer1,
.fourth-screen #offer2,
.fourth-screen #offer3{
    max-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
} */
/* .fourth-screen #offer2 {
    height: 80%;
}
.fourth-screen #offer3{
    height: 100%;
} */

/* .fourth-screen .deals-banner3 {
    position: relative;
    display: flex;
}

.fourth-screen #banner-img1 {
    max-width: 100%;
    
    position: absolute;
    left: 0;
    top: 0;
} */


/* .fourth-screen .deals-grid .deals-banner1{
    position: relative;
    
}
.fourth-screen #banner-img1{
    position: absolute;
    left: 0;
    top:0;
}
.fourth-screen #offer1 {
    position: absolute;
    right: 0;
    top: 0;
} */



/* ***********flex layout********************** */


/* .fourth-screen .deals-banner1{
    margin: 5% 3%;
    position:relative;
    border-radius: 40px;
}

.fourth-screen .deals-container {
    display: flex;
    justify-content: space-between;
    margin: 6% 3%;
    
}

.fourth-screen .deals-banner2,
.fourth-screen .deals-banner3 {
    position: relative;
    
    border-radius: 40px;
}
.fourth-screen #banner-img2,
.fourth-screen #banner-img3{
    object-fit: cover;
    object-position: 0% 0%;
}
.fourth-screen #offer1,
.fourth-screen #offer2,
.fourth-screen #offer3 {
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    
}
.fourth-screen #offer2{
    width: 40vw;
    height: 65vh;
    
} */